body{
    background-image: linear-gradient(180deg,rgba(227,227,227,1) 23.8%, rgba(252,211,221,1) 92%);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    margin: 0;
}

.container{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding-top: 4%;
}

.dog-img-div{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
    object-fit: fill;
}

.btns{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: darksalmon;
    border: 0;
    border-radius: 10px;
    color: white;
    font-size: 20px;
    font-weight: 700;
    padding: 10px;
    margin: 10px;
    width: 20vw;
}

button:active{
    transform: scale(0.80);
}

button:focus{
    outline: none;
}

.input-div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.text-style{
    font-size: 28px;
    font-weight: 700;
    text-shadow:1px 1px 10px rgb(148, 33, 119), 1px 1px 10px rgb(255, 226, 171);
}

.output-para{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10%;
    padding-top: 0%;
    padding-bottom: 3%;

}

#iname{
    height: 5vh;
    margin: 20px;
}


/* Popup container */
.popup {
    position: relative;
    display: inline-block;
    cursor: pointer;
  }
  
  /* The actual popup (appears on top) */
  .popup .popup-content {
    visibility: hidden;
    width: 160px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -80px;
  }
  
  /* Popup arrow */
  .popup .popuptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
  }
  
  /* Toggle this class when clicking on the popup container (hide and show the popup) */
  .popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s
  }
  
  /* Add animation (fade in the popup) */
  @-webkit-keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
  }
  
  @keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
  }





/* media queries */
@media screen and (max-width: 500px) {
  .container {flex-direction: column;}
  .btns{font-size: 15px;}
  #dog-img{width:20vw;}
  .text-style{font-size: smaller;}

}
