body{
    background-image: linear-gradient(180deg,rgba(227,227,227,1) 23.8%, rgba(252,211,221,1) 92%);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    margin: 0;
}


.container{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding-top: 4%;
}

.dog-img-div{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
    object-fit: fill;
}

.btns{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:  darkseagreen;
    border: 0;
    border-radius: 10px;
    color: rgb(12, 11, 11);
    font-size: 20px;
    font-weight: 700;
    padding: 10px;
    margin: 10px;
    width: 10vw;
}
.btns:hover{
    background-color: #06D85F;
}

button:active{
    transform: scale(0.80);
}

button:focus{
    outline: none;
}

.input-div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.text-style{
    font-size: 28px;
    font-weight: 700;
    text-shadow:1px 1px 10px rgb(148, 33, 119), 1px 1px 10px rgb(255, 226, 171);
}
#output{
    font-size: 18px;
    text-align: center;
}
#output-div{
    width: 60vw;
    height: 20vh;
    margin-left: 4vw;
}

.output-para{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 5vh;
    margin-left: 10vw;
    padding-bottom: 3%;
    text-align: center;

}

#iname{
    height: 5vh;
    margin: 20px;
}


/* pop ups designs */
.popups{
    display: flex;
    align-items: center;
    justify-content: center;
}

h1 {
    text-align: center;
    font-family: Tahoma, Arial, sans-serif;
    color: #06D85F;
    margin: 80px 0;
}

.box {
    display: flex;
    width: 40%;
    margin: 0 auto;
    background: rgba(255,255,255,0.2);
    padding: 30px;
    border: 2px solid #fff;
    border-radius: 20px/50px;
    background-clip: padding-box;
    text-align: center;
}

.button {
    display: flex;
    flex-wrap: wrap;
    font-size: 1em;
    padding: 10px;
    color: rgb(0, 0, 0);
    border: 2px solid #06D85F;
    border-radius: 20px/50px;
    text-decoration: none;
    cursor: pointer;
    transition: all 0.3s ease-out;
}
.button:hover {
    background: #06D85F;
 }
.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
}

.overlay:target {
    visibility: visible;
    opacity: 1;
}

.popup {
    display: flex;
    margin: 70px auto;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    width: 30%;
    position: relative;
    transition: all 5s ease-in-out;
}
.popup h2 {
    margin-top: 0;
    color: #333;
    font-family: Tahoma, Arial, sans-serif;
}
.popup .close {
    position: absolute;
    top: 20px;
    right: 30px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
}
.popup .close:hover {
    color: #06D85F;
}
.popup .content {
    display: flex;
    max-height: 30%;
    overflow: auto;
}


/* media queries */
@media screen and (max-width: 600px) {
  .container {flex-wrap: wrap;flex-direction: column;}
  .btns{font-size: small;}
  #dog-img{width:20vw;}
  .text-style{font-size: smaller;}
  #output-div{margin-left: 20vw;}
  #output{font-size: smaller;}
  .popups{flex-direction: column;}
  .box{width: 50%;}
  .popup{width: 50%;}

}

@media screen and (max-width: 700px){
    .box{
      width: 70%;
    }
    .popup{
      width: 70%;
    }
  }